body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at 26.91% 10%, #ffe9ff 0, #ffd2ff 16.67%, #e8b9ff 33.33%, #b99df2 50%, #8e81c5 66.67%, #6b689d 83.33%, #4e5178 100%);
  background-repeat: no-repeat;
}

html{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
